name: Build PostgreSQL Container

on:
  push:
    branches: [main]
    paths-ignore: ['*.md', 'LICENSE', '.gitignore']
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        pg_version: [14, 17]
    uses: daemonless/daemonless/.github/workflows/build-app.yml@main
    with:
      image_name: postgres
      image_tag: ${{ matrix.pg_version }}
      build_args: PG_VERSION=${{ matrix.pg_version }}
    secrets: inherit
